<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhang.marketing_system.mapper.RoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.yunhang.marketing_system.entity.RoleInfo">
    <!--@mbg.generated generated on Wed Oct 30 12:28:40 CST 2019.-->
    <!--@Table role_info-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="role_description" jdbcType="VARCHAR" property="roleDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Oct 30 12:28:40 CST 2019.-->
    role_id, role_type, role_description
  </sql>
</mapper>